body {
  margin: 0;
  font-family: sans-serif;
}

button {
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: green;
}

button.minus {
  background-color: red;
}

button.plus {
  margin-right: 2;
  background-color: green;
}
